.glx-icon-sel--dropdown-input{
  position: absolute;
  top: 28px;
  left: 0;
  height: 180px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1px;
  width: 270px;
  background-color: $main-background;
  z-index: 10;
}
.glx-icon-sel--dropdown{
  position: absolute;
  top: 60px;
  left: 0;
  flex-basis: 50px;
  height: 180px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1px;
  width: 270px;
  background-color: $main-background;
  z-index: 10;
  align-content: flex-start;
}
