.glx-icon-sel--dropdown--container{
  position: absolute;
  top: 28px;
  left: 0;
  outline: 1px solid $main-contrast;
  background-color: $main-background;
  padding: 4px;
  height: 240px;
  z-index: 100;
}
.glx-icon-sel--dropdown-input{
  height: 180px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1px;
  width: 270px;

}
.glx-icon-sel--dropdown{
  flex-grow: 1;
  flex-basis: 50px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1px;
  width: 270px;
  align-content: flex-start;
}
