.button--grid.button--default{
  padding-left: 18px;
  padding-right: 18px;

}
.button--default::before {
  background-color: $main-contrast;
}

.button--default:hover {
  background-color: $main-contrast;
}

.button--bubble-default:hover {
  background-color: $main-contrast;
}
.button--bubble-default::before {
  background-color: $main-contrast;
}

.button--bubble-blue::before {
  background-color: $main-dark-blue;
}

.button--bubble-blue:hover {
  background-color: $main-dark-blue;
}

.button--bubble-cyan::before {
  background-color: $main-cyan;
}

.button--bubble-cyan:hover {
  background-color: $main-cyan;
  color: black !important;
}

.button--bubble-red::before {
  background-color: $main-red;
}

.button--bubble-red:hover {
  background-color: $main-red;
}

.button--bubble-green::before {
  background-color: $main-green;
}

.button--bubble-green:hover {
  background-color: $main-green;
}

.button-bubble--purple::before {
  background-color: $main-purple;
}

.button--bubble-purple:hover {
  background-color: $main-purple;
}

.button--bubble-orange::before {
  background-color: $main-orange;
}

.button--bubble-orange:hover {
  background-color: $main-orange;
}

.button--bubble-pink::before {
  background-color: $main-pink;
}

.button--bubble-pink:hover {
  background-color: $main-pink;
  color: black !important;

}

.button--bubble-yellow::before {
  background-color: $main-yellow;
}

.button--bubble-yellow:hover {
  background-color: $main-yellow;
  color: black !important;
}

button.button-link {
  position: relative;
  color: white;
  cursor: pointer;
  padding: 12px;
  font-size: 12pt;
  background-color: $main-button;
  border-radius: 8px;
  border: none;
}

button.cancel {
  background-color: $main-background;
  border: 1px solid white;
}

button.button--base:disabled {
  background-color: $main-accent-02;
  cursor: not-allowed;
}

button.button--grid:disabled {
  background-color: $main-accent-02;
  cursor: not-allowed;
}

button.button--grid {
  position: relative;
  font-size: 12pt;
  border: none;
  color: white;
  background-color: black;
  border-radius: 32px;
  padding: 12px;
  gap: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin: 2px;
  span {
    margin-right: 6px;
  }
  span.ico {
    display: none;
    flex-direction: row;
    align-items: center;
  }
  span.icon-x {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &:hover {
    span.ico {
      display: flex;
      animation: buttonFadeIn .8s;
    }
  }
/*  &:active {
    box-shadow: 0 5px #FFC324;
    transform: translateY(2px);
  }*/
}

button.button--grid:after, button.button-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 5px 20px white;
  border-radius: 32px;
}

button.button--grid:active, button.button-link:active {
  top: 1px;
}

button.button--grid-half {
  width: 150px !important;
}

button:disabled {
  transition: unset;
}

button:disabled::before {
  transform: unset;
  transition: unset;
  background-color: unset;
}

button.bubble {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  width: 300px;
  color: $main-white;
  background-color: $main-button;
  border-radius: 4px;
}

button.bubble:after {
  border-radius: 4px !important;
}

button.bubble::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 2em;
  height: 1em;
  border-radius: 50%;
  transform-origin: center;
  transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

button.bubble:hover::before {
  transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

.glx-icon-button--blue svg{
  color: $main-blue !important;
}
.glx-icon-button--red svg{
  color: $main-red !important;
}
.glx-icon-button--green svg{
  color: $main-green !important;
}
.glx-icon-button--orange svg{
  color: $main-orange !important;
}
.glx-icon-button--yellow svg{
  color: $main-yellow !important;
}
.glx-icon-button--cyan svg{
  color: $main-cyan !important;
}
.glx-icon-button--pink svg{
  color: $main-pink !important;
}
.glx-icon-button--purple svg{
  color: $main-purple !important;
}
.glx-icon-button--black svg{
  color: $main-black !important;
}

@keyframes buttonFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
  }
}
