
.glx-form--label {
  padding-bottom: 2px;
  text-align: left;
  font-weight: bold;
}

.glx-form--compact{
  &,.glx-form--input{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.glx-form--underline{
  input, select{
    border-bottom: 1px solid $main-text;
  }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus{
    border-bottom: 1px solid $main-contrast;
  }
  input:disabled{
    border-bottom: none;
  }
}

.glx-form--input {

  @extend .glx-default-text;
  padding-top: 4px;
  padding-bottom: 4px;

  input, select {
    margin-top: 4px;
    margin-bottom: 2px;
    width: calc(100% - 8px);
    height: 24px;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    color: $main-text;
    font-size: 14pt;
    resize: none;
  }

  select{
    background-color: $main-background-alt;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  textarea {
    width: 100%;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    color: $main-text;
    font-size: 14pt;
    resize: none;
  }
}

.glx-form--error {
  background: red;
  color: $main-text;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
}


$default-padding: 4px;
$default-padding-d: 2*$default-padding;
.glx-form {
  color: $main-text;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .glx-form--button-row {
    padding-left: $default-padding;
    padding-right: $default-padding;
  }

  .glx-form--row {
    width: 100%;
    padding: $default-padding;
    display: flex;
    column-gap: 12px;
    margin-bottom: 12px;
  }

  .glx-form--sub-row {
    display: flex;
    column-gap: 12px;
  }

  .glx-form--error {
    margin: $default-padding;
  }

  .glx-form--input--split-1 {
    width: 100%;
  }

  .glx-form--input--split-2 {
    width: 50%;
  }

  .glx-form--input--split-3 {
    width: 33%;
  }

  .glx-form--input--split-4 {
    width: 25%;
  }

  .glx-form--error {
    @extend .glx-p-4;
    color: white;
  }

  @-moz-document url-prefix() {
    input[type=range]{
      -webkit-appearance: auto !important;
    }
  }

  input[type=range]{
    -webkit-appearance: none;
    border-bottom: none;
  }


  input[type=range]:active,input[type=range]:focus{
    border-bottom: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: $main-contrast;
    border: none;
    border-radius: 3px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $main-contrast;
    margin-top: -4px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $main-contrast;
  }


}
@media (max-width: 768px) {
  .glx-form--row {
    flex-direction: column;
  }

  .glx-form--input--split-1 {
    width: 100%;
  }

  .glx-form--input--split-2 {
    width: 100%;
  }

  .glx-form--input--split-3 {
    width: 100%;
  }

  .glx-form--input--split-4 {
    width: 100%;
  }

  .glx-form--input{
    width: 100% !important;
  }
}


.glx-date-pick {
  width: calc(100% - 6px);

  > div {
    width: 100%;
  }
}

.glx-form--error-text {
  color: $main-red;
}
