.glx-form--label {
  @extend .glx-no-select;
  text-align: left;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 8px;
}


.glx-form--compact{
  &,.glx-form--input{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.glx-form--input--container{
  input, select, textarea,input{
    border-bottom: none;
  }
}
// ######################### Fields #########################
.glx-form-field--error{
  .glx-form--label{
    color: $main-red !important;
  }
}
.glx-form--focus{
  animation: form_focus_border_fade 0.4s linear;
  .glx-form--label{
    color: $main-contrast;
    animation: form_focus_text_fade 0.4s linear;
  }
}
// ######################### Fields #########################
// ######################### OUTLINE FORMS #########################

.glx-form--outline{
  padding: 2px 2px 2px 2px;
  border-radius: $main-border-radius;
  border: 1px solid $main-text;
  legend {
    margin-left: 6px;
  }
  &.glx-form--focus{
    border-color: $main-contrast;
  }
  &.glx-form--disabled{
    border-color: $main-accent-01;
  }
  &.glx-form-field--error{
    border-color: $main-red;
  }
}
// ######################### OUTLINE FORMS #########################
// ######################### UNDERLINE FORMS #########################
.glx-form--underline{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $main-text;
  padding-left: 2px;
  &.glx-form--focus{
    border-bottom: 1px solid $main-contrast;
  }
}
// ######################### UNDERLINE FORMS #########################
// ######################### UNDERLINE FORMS #########################

.glx-form--box {
  border-color: white;
  &.glx-form--focus{
    border-color: $main-contrast;
  }
  &.glx-form--disabled{
    border-color: $main-accent-02;
  }
}


// ######################### UNDERLINE FORMS #########################
// ######################### NO DECORATION FORMS #########################
.glx-form--no-decoration{
  border: none;
  padding: 0;
}
// ######################### NO DECORATION FORMS #########################




@keyframes form_focus_border_fade {
  0% {
    border-color: $main-text;
  }
  100% {
    border-color: $main-contrast;
  }
}

@keyframes form_focus_text_fade {
  0% {
    color: $main-text;
  }
  100% {
    color: $main-contrast;
  }
}


.glx-form--underline.glx-form--error{
  border-bottom: 1px solid $main-red;
}

.glx-form--input {

  @extend .glx-default-text;
  padding-top: 4px;
  padding-bottom: 4px;

  input, select {
    margin-top: 4px;
    margin-bottom: 2px;
    width: calc(100% - 8px);
    height: 24px;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    color: $main-text;
    font-size: 14pt;
    resize: none;
  }

  select{
    background-color: $main-background-alt;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  textarea {
    width: 100%;
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    color: $main-text;
    font-size: 14pt;
    resize: none;
  }
}

.glx-form--error {
  background: red;
  color: $main-text;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: $main-border-radius;
}


$default-padding: 4px;
$default-padding-d: 2*$default-padding;
.glx-form {
  color: $main-text;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .glx-form--button-row {
    padding-left: $default-padding;
    padding-right: $default-padding;
  }

  .glx-form--row {
    width: 100%;
    padding: $default-padding;
    display: flex;
    column-gap: 12px;
    margin-bottom: 8px;
  }

  .glx-form--sub-row {
    display: flex;
    column-gap: 12px;
  }

  .glx-form--error {
    margin: $default-padding;
  }

  .glx-form--input--split-1 {
    width: 100%;
  }

  .glx-form--input--split-2 {
    width: 50%;
  }

  .glx-form--input--split-3 {
    width: 33%;
  }
  .glx-form--input--split-4 {
    width: 25%;
  }
  .glx-form--input--split-5{
    width: 20%;
  }
  .glx-form--input--split-6{
    width: 16%;
  }
  .glx-form--input--split-7{
    width: 14%;
  }
  .glx-form--input--split-8{
    width: 12.5%;
  }

  .glx-form--error {
    @extend .glx-p-4;
    color: white;
  }

  @-moz-document url-prefix() {
    input[type=range]{
      -webkit-appearance: auto !important;
    }
  }

  input[type=range]{
    -webkit-appearance: none;
    border-bottom: none;
  }


  input[type=range]:active,input[type=range]:focus{
    border-bottom: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: $main-contrast;
    border: none;
    border-radius: 3px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: $main-contrast;
    margin-top: -4px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $main-contrast;
  }


}
@media (max-width: 768px) {
  .glx-form--row {
    flex-direction: column;
  }

  .glx-form--input--split-1,
  .glx-form--input--split-2,
  .glx-form--input--split-3,
  .glx-form--input--split-4,
  .glx-form--input--split-5,
  .glx-form--input--split-6,
  .glx-form--input--split-7,
  .glx-form--input--split-8,
  {
    width: 100%;
  }

  .glx-form--input{
    width: 100% !important;
  }
}


.glx-date-pick {
  width: calc(100% - 6px);

  > div {
    width: 100%;
  }
}

.glx-form--error-text {
  color: $main-red;
}
.glx-clear-container{
  @extend .glx-flex,.glx-flex-r;
}

.glx-clear-container-btn {
  @extend .glx-flex,.glx-flex-r,.glx-flex-v-center;
  button {
    color: $main-text;
    border: none;
    cursor: pointer;
    background: transparent;
    svg {
      transform: translateY(2px);
    }
  }
  button:hover,button:focus{
    color: $main-contrast;
    background: $main-accent-01;
    border-radius: $main-border-radius;
  }
}

