.glx-io-icon {
  stroke: currentcolor;
  path, rect, circle, ellipse {
    stroke: currentcolor;
  }
}
.glx-ej-icon{
  stroke: none;
  path{
    transform: scale(0.93) translateY(2px) translateX(2px);
  }
}
.glx--icon {
  fill: currentcolor;
}

